<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Daftar User</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table cellspacing="5" >
            <thead>
                <tr>                
                    <td>NIM</td>
                    <td>Nama</td>
                    <td>Tempat Lahir</td>
                    <td>Tanggal Lahir</td>
                    <td>Alamat</td>
                </tr>
            </thead>
            <tbody id="mhslist">
                <!-- using jinja syntax-->
                {% for mhs in listmhs %}
                <tr>                    
                    <td>{{ mhs.nim}}</td>
                    <td>{{ mhs.nama }}</td>
                    <td>{{ mhs.tempat_lahir }}</td>
                    <td>{{ mhs.tanggal_lahir }}</td>
                    <td>{{ mhs.alamat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </body>
</html>
